.bg-img-icon,
.wrapper-bg-img {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}
.bg-img-icon {
  max-height: 100%;
  object-fit: contain;
  left: 0.06rem;
  top: 3.63rem;
  transform: scale(1.147);
}
.wrapper-bg-img {
  margin: 0 !important;
  top: 0;
  bottom: 0;
  left: -0.06rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.luxi-hosting-logo-icon {
  height: 1.91rem;
  width: 1.88rem;
  position: relative;
  object-fit: cover;
  z-index: 2;
}
.kuberkosh {
  margin: 0;
  height: 2rem;
  position: relative;
  font-size: inherit;
  font-weight: 600;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  z-index: 2;
}
.frame-button {
  height: 2.06rem;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 0.69rem;
}
.about,
.features,
.support {
  position: relative;
  line-height: 100%;
  font-weight: 600;
  z-index: 2;
}
.features,
.support {
  flex: 1;
}
.about-features-support,
.text {
  font-family: var(--body-14);
  color: var(--black-black-100);
}
.about-features-support {
  width: 19.38rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 5.75rem 0 0;
  box-sizing: border-box;
  gap: var(--gap-15xl);
  text-align: left;
  font-size: var(--body-14-size);
}
.text {
  position: relative;
  font-size: var(--body-16-size);
  line-height: 100%;
  font-weight: 600;
  text-align: center;
}
.bttn,
.text,
.text1 {
  white-space: nowrap;
}
.bttn {
  cursor: pointer;
  border: 1px solid var(--black-black-1001);
  padding: var(--padding-xs) var(--padding-base) var(--padding-xs)
    var(--padding-2xl);
  background-color: var(--gradient-main1);
  flex: 0.9048;
  border-radius: var(--br-3xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
.bttn1:hover,
.bttn2:hover,
.bttn6:hover,
.bttn7:hover,
.bttn8:hover,
.bttn:hover {
  background-color: var(--color-gainsboro-200);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
}
.text1 {
  position: relative;
  font-size: var(--body-16-size);
  line-height: 100%;
  font-weight: 600;
  font-family: var(--body-14);
  color: var(--black-black-100);
  text-align: center;
}
.bttn1,
.framebgimg,
.starimg {
  display: flex;
  flex-direction: row;
}
.bttn1 {
  cursor: pointer;
  border: 1px solid var(--gradient-light);
  padding: var(--padding-xs) 0.81rem var(--padding-xs) 1.13rem;
  background-color: var(--gradient-main1);
  flex: 1;
  border-radius: var(--br-3xs);
  background: linear-gradient(225deg, #18c8ff, #933ffe);
  overflow: hidden;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  z-index: 2;
}
.framebgimg,
.starimg {
  width: 12.63rem;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.framebgimg {
  width: 69rem;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
  max-width: 100%;
  text-align: center;
  font-size: 1.5rem;
  color: var(--black-black-1001);
  font-family: var(--font-montserrat);
}
.star-img-icon {
  width: 4.39rem;
  height: 4.63rem;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0.01rem;
  z-index: 2;
}
.we-make-digital {
  margin: 0;
  align-self: stretch;
  height: 20.75rem;
  position: relative;
  font-size: inherit;
  line-height: 130%;
  font-weight: 900;
  font-family: inherit;
  display: inline-block;
  z-index: 2;
}
.a {
  color: inherit;
}
.privacy-policy-and-container {
  width: 30.19rem;
  height: 1.5rem;
  position: relative;
  font-size: var(--body-16-size);
  line-height: 150%;
  color: var(--black-black-60);
  white-space: pre-wrap;
  display: inline-block;
  max-width: 100%;
  z-index: 2;
}
.text-with-lorem-ipsum {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
  max-width: 100%;
}
.btnframe {
  position: relative;
  font-size: var(--body-16-size);
  line-height: 100%;
  font-weight: 600;
  font-family: var(--body-14);
  color: var(--black-black-100);
  text-align: center;
}
.bttn2,
.login-manage-text {
  display: flex;
  align-items: center;
}
.bttn2 {
  cursor: pointer;
  border: 1px solid var(--gradient-light);
  padding: var(--padding-xl) var(--padding-9xl) var(--padding-xl)
    var(--padding-13xl);
  background-color: var(--gradient-main1);
  border-radius: var(--br-3xs);
  background: linear-gradient(225deg, #18c8ff, #933ffe);
  overflow: hidden;
  flex-direction: row;
  justify-content: center;
  white-space: nowrap;
  z-index: 2;
}
.login-manage-text {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  max-width: 100%;
}
.login-manage,
.loremipsumdolorsitametconsecte {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  max-width: 100%;
}
.login-manage {
  width: 51.06rem;
  flex-direction: column;
  padding: var(--padding-101xl) 2.31rem 0 0;
  box-sizing: border-box;
  position: relative;
}
.loremipsumdolorsitametconsecte {
  width: 58.13rem;
  flex-direction: row;
}
.frame-empty {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-xl) 5.13rem;
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-50xl);
  max-width: 100%;
  text-align: center;
  font-size: var(--h1-85-size);
  color: var(--black-black-100);
  font-family: var(--body-14);
}
.circles-icon {
  height: 26.63rem;
  width: 85.25rem;
  position: absolute;
  margin: 0 !important;
  top: -7.5rem;
  right: -55.75rem;
  overflow: hidden;
  flex-shrink: 0;
}
.img-icon {
  width: 5rem;
  height: 5rem;
  position: relative;
  object-fit: cover;
}
.create {
  margin: 0;
  position: relative;
  font-size: inherit;
  line-height: 130%;
  font-weight: 800;
  font-family: inherit;
}
.infoblock-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
  font-size: var(--h3-32-size);
}
.lorem-ipsum-dolor {
  color: inherit;
}
.lorem-ipsum-dolor-sit-amet-co,
.lorem-ipsum-dolor1 {
  margin: 0;
}
.lorem-ipsum-dolor-container {
  flex: 1;
  position: relative;
  line-height: 150%;
  display: inline-block;
  max-width: 100%;
}
.footerframe {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-base);
  box-sizing: border-box;
  max-width: 100%;
  color: var(--black-black-60);
}
.login-manage-infoblock {
  position: relative;
  line-height: 100%;
  font-weight: 600;
  white-space: nowrap;
}
.iconarrow {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
}
.bttn3,
.contentframe,
.info-block {
  display: flex;
  justify-content: flex-start;
}
.bttn3 {
  border-radius: var(--br-3xs);
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  gap: 0.13rem;
  color: var(--primary-purple);
}
.contentframe,
.info-block {
  max-width: 100%;
}
.info-block {
  flex: 1;
  border-radius: var(--br-6xl);
  background-color: var(--black-black-12);
  flex-direction: column;
  align-items: center;
  padding: var(--padding-13xl) var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-base);
  z-index: 1;
}
.contentframe {
  flex-direction: row;
  align-items: flex-start;
  position: relative;
  font-size: var(--body-16-size);
}
.img-icon1 {
  width: 5rem;
  height: 5rem;
  position: relative;
  object-fit: cover;
}
.login {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 130%;
  font-weight: 800;
  font-family: inherit;
}
.lorem-ipsum-dolor2 {
  color: inherit;
}
.lorem-ipsum-dolor-sit-amet-co1,
.lorem-ipsum-dolor3 {
  margin: 0;
}
.lorem-ipsum-dolor-container1 {
  align-self: stretch;
  position: relative;
  font-size: var(--body-16-size);
  line-height: 150%;
  color: var(--black-black-60);
}
.img-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.text2 {
  position: relative;
  line-height: 100%;
  font-weight: 600;
}
.iconarrow1 {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
}
.bttn4,
.info-block1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.bttn4 {
  border-radius: var(--br-3xs);
  overflow: hidden;
  flex-direction: row;
  gap: 0.44rem;
  font-size: var(--body-16-size);
  color: var(--primary-purple);
}
.info-block1 {
  border-radius: var(--br-6xl);
  background-color: var(--black-black-12);
  flex-direction: column;
  padding: var(--padding-13xl) var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-13xl);
  max-width: 100%;
  z-index: 1;
}
.img-icon2 {
  width: 5rem;
  height: 5rem;
  position: relative;
  object-fit: cover;
}
.manage {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 130%;
  font-weight: 800;
  font-family: inherit;
}
.lorem-ipsum-dolor4 {
  color: inherit;
}
.lorem-ipsum-dolor-sit-amet-co2,
.lorem-ipsum-dolorlorem {
  margin: 0;
}
.lorem-ipsum-dolor-container2 {
  align-self: stretch;
  position: relative;
  font-size: var(--body-16-size);
  line-height: 150%;
  color: var(--black-black-60);
}
.img-group {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.text3 {
  position: relative;
  line-height: 100%;
  font-weight: 600;
}
.iconarrow2 {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
}
.bttn5 {
  border-radius: var(--br-3xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.38rem;
  font-size: var(--body-16-size);
  color: var(--primary-purple);
}
.circles-frame,
.info-block2 {
  justify-content: flex-start;
  max-width: 100%;
}
.info-block2 {
  border-radius: var(--br-6xl);
  background-color: var(--black-black-12);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--padding-13xl) var(--padding-5xl);
  box-sizing: border-box;
  gap: var(--gap-13xl);
  z-index: 1;
}
.circles-frame {
  width: 73.75rem;
  display: grid;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-xl);
  grid-template-columns: repeat(3, minmax(285px, 1fr));
  font-size: var(--h3-32-size);
}
.lorem {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 130%;
  font-weight: 900;
  font-family: inherit;
  z-index: 5;
}
.lorem-ipsum-dolor5 {
  color: inherit;
}
.lorem-ipsum-dolor-container3 {
  width: 36.25rem;
  position: relative;
  font-size: var(--body-16-size);
  line-height: 150%;
  color: var(--black-black-60);
  display: inline-block;
  max-width: 100%;
  z-index: 5;
}
.circles-frame1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
  max-width: 100%;
}
.company-about {
  position: relative;
  font-size: var(--body-16-size);
  line-height: 100%;
  font-weight: 600;
  font-family: var(--body-14);
  color: var(--black-black-100);
  text-align: center;
}
.bttn6 {
  cursor: pointer;
  border: 1px solid var(--gradient-light);
  padding: var(--padding-xl) var(--padding-9xl) var(--padding-xl)
    var(--padding-13xl);
  background-color: var(--gradient-main1);
  border-radius: var(--br-3xs);
  background: linear-gradient(225deg, #18c8ff, #933ffe);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.bg-frame,
.bg-frame-wrapper {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.bg-frame {
  width: 48.75rem;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-13xl);
}
.bg-frame-wrapper {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
}
.access-to-full {
  margin: 0;
  align-self: stretch;
  height: 12.19rem;
  position: relative;
  font-size: inherit;
  line-height: 130%;
  font-weight: 900;
  font-family: inherit;
  display: inline-block;
  z-index: 1;
}
.lorem-ipsum-dolor6 {
  color: inherit;
}
.lorem-ipsum-dolor-container4 {
  align-self: stretch;
  position: relative;
  font-size: var(--body-16-size);
  line-height: 150%;
  color: var(--black-black-60);
  z-index: 1;
}
.text-frame {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.bggradient-frame {
  position: relative;
  font-size: var(--body-16-size);
  line-height: 100%;
  font-weight: 600;
  font-family: var(--body-14);
  color: var(--black-black-100);
  text-align: center;
}
.bttn7 {
  cursor: pointer;
  border: 1px solid var(--black-black-1001);
  padding: var(--padding-xl) var(--padding-9xl) var(--padding-xl)
    var(--padding-13xl);
  background-color: var(--gradient-main1);
  border-radius: var(--br-3xs);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  z-index: 1;
}
.company-logo-frame,
.text-frame-parent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.text-frame-parent {
  width: 36.25rem;
  align-items: flex-start;
  gap: var(--gap-13xl);
  text-align: left;
}
.company-logo-frame {
  width: 60.75rem;
  align-items: flex-end;
  gap: var(--gap-239xl);
}
.privacy-policy-link {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 18.69rem;
  box-sizing: border-box;
  max-width: 100%;
}
.banking,
.into-safe-secure,
.take-your-first {
  margin: 0;
}
.take-your-first-container {
  margin: 0;
  align-self: stretch;
  height: 12.19rem;
  position: relative;
  font-size: inherit;
  line-height: 130%;
  font-weight: 900;
  font-family: inherit;
  display: inline-block;
  z-index: 4;
}
.lorem-ipsum-dolor7 {
  color: inherit;
}
.lorem-ipsum-dolor-container5 {
  align-self: stretch;
  position: relative;
  font-size: var(--body-16-size);
  line-height: 150%;
  color: var(--black-black-60);
  z-index: 4;
}
.bggradientimg {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.text4 {
  position: relative;
  font-size: var(--body-16-size);
  line-height: 100%;
  font-weight: 600;
  font-family: var(--body-14);
  color: var(--black-black-100);
  text-align: center;
}
.bttn8 {
  cursor: pointer;
  border: 1px solid var(--gradient-light);
  padding: var(--padding-xl) var(--padding-9xl) var(--padding-xl)
    var(--padding-13xl);
  background-color: var(--gradient-main1);
  border-radius: var(--br-3xs);
  background: linear-gradient(225deg, #18c8ff, #933ffe);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.receive-transmission {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  max-width: 100%;
}
.receive-transmission-wrapper {
  width: 41rem;
  flex-direction: row;
  padding: 0 2.38rem;
  box-sizing: border-box;
  text-align: left;
}
.background-frame,
.infoblock-frame,
.receive-transmission-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.infoblock-frame {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-201xl);
}
.background-frame {
  width: 79.88rem;
  flex-direction: row;
  padding: 0 3rem 5.06rem var(--padding-xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--h2-50-size);
  color: var(--black-black-100);
  font-family: var(--body-14);
}
.bg-img-icon1 {
  position: absolute;
  top: 22.06rem;
  left: 0;
  width: 37.5rem;
  height: 65.31rem;
  object-fit: contain;
}
.bg-gradient-img-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
}
.img-icon3 {
  position: absolute;
  top: 18.88rem;
  left: 10.13rem;
  width: 36.25rem;
  height: 26.25rem;
  z-index: 4;
}
.bg-gradient-img-parent,
.bg-img-icon2 {
  position: absolute;
  top: 79.56rem;
  left: 37.5rem;
  width: 55.75rem;
  height: 59.06rem;
}
.bg-img-icon2 {
  top: 0.38rem;
  left: 54rem;
  width: 37.5rem;
  height: 65.31rem;
}
.img-icon4,
.wrapper-img {
  position: absolute;
  z-index: 1;
}
.img-icon4 {
  width: 100%;
  height: 100%;
  object-fit: contain;
  left: -3.81rem;
  top: -27.37rem;
  transform: scale(3.086);
}
.wrapper-img {
  top: 43.88rem;
  left: 9.63rem;
  width: 36.25rem;
  height: 26.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bg-gradient-img-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.safe-banking-text {
  position: absolute;
  top: 17rem;
  left: 23.06rem;
  width: 3.81rem;
  height: 3.75rem;
  z-index: 5;
}
.star-img-vector {
  position: absolute;
  top: 13rem;
  left: 54rem;
  width: 36.88rem;
  height: 82rem;
}
.star-img-icon1,
.star-img-icon2 {
  position: absolute;
  top: 4.5rem;
  left: 6.38rem;
  width: 4.38rem;
  height: 4.63rem;
}
.star-img-icon2 {
  top: 0.01rem;
  left: 5.14rem;
  width: 3.2rem;
  height: 3.12rem;
  z-index: 2;
}
.bg-img-parent {
  width: 93.25rem;
  height: 138.63rem;
  position: absolute;
  margin: 0 !important;
  right: -5.87rem;
  bottom: 50.44rem;
}
.vector-icon {
  width: 6.88rem;
  height: 1rem;
  position: relative;
  display: none;
  z-index: 3;
}
.circles-icon1,
.wrapper-circles {
  height: 100%;
  position: absolute;
  left: 0;
  z-index: 2;
}
.circles-icon1 {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
  top: 13.25rem;
  transform: scale(1.988);
}
.wrapper-circles {
  width: calc(100% - 73px);
  margin: 0 !important;
  top: 0;
  right: 4.56rem;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.receive-transmissions {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  line-height: 130%;
  font-weight: 900;
  font-family: inherit;
  mix-blend-mode: normal;
  z-index: 3;
}
.privacy-policy {
  color: var(--black-black-1001);
}
.unsubscribe-at-any-container {
  width: 36.25rem;
  position: relative;
  font-size: var(--body-16-size);
  line-height: 150%;
  display: inline-block;
  max-width: 100%;
  z-index: 3;
  color: var(--black-black-60);
}
.transmission-receive {
  width: 48.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
  max-width: 100%;
}
.email-address {
  width: calc(100% - 64px);
  border: 0;
  outline: 0;
  font-family: var(--body-14);
  font-size: var(--body-14-size);
  background-color: var(--gradient-main1);
  height: 1.31rem;
  flex: 1;
  position: relative;
  line-height: 150%;
  color: var(--black-black-40);
  text-align: left;
  display: inline-block;
  min-width: 8.63rem;
}
.iconarrow3 {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  min-height: 1.5rem;
}
.bttninput,
.receive-area {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}
.bttninput {
  width: 19rem;
  border-radius: var(--br-3xs);
  box-shadow: var(--blur-glass);
  backdrop-filter: blur(40px);
  border: 1px solid var(--gradient-main);
  overflow: hidden;
  flex-direction: row;
  align-items: flex-end;
  padding: var(--padding-base) var(--padding-2xl) var(--padding-base)
    var(--padding-lgi);
  gap: var(--gap-3xs);
  z-index: 3;
}
.receive-area {
  align-self: stretch;
  flex-direction: column;
  align-items: center;
  padding: 7.25rem var(--padding-xl) var(--padding-101xl);
  position: relative;
  gap: var(--gap-13xl);
  max-width: 100%;
}
.bg-gradient-img-icon2 {
  width: 56.88rem;
  height: 35.13rem;
  position: absolute;
  margin: 0 !important;
  top: -3.37rem;
  left: 0;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: contain;
}
.line {
  align-self: stretch;
  height: 0.06rem;
  position: relative;
  border-top: 1px solid var(--black-black-12);
  box-sizing: border-box;
  z-index: 1;
}
.logo-icon {
  width: 8.44rem;
  height: 1.25rem;
  position: relative;
  display: none;
}
.coinflip-the-worlds {
  margin-block-start: 0;
  margin-block-end: 20px;
}
.sign-up-to {
  margin: 0;
}
.email-address1,
.separated-they-live-container {
  position: relative;
  line-height: 150%;
  display: inline-block;
}
.separated-they-live-container {
  align-self: stretch;
  height: 7.81rem;
}
.email-address1 {
  width: calc(100% - 64px);
  border: 0;
  outline: 0;
  font-family: var(--body-14);
  font-size: var(--body-14-size);
  background-color: var(--gradient-main1);
  height: 1.31rem;
  flex: 1;
  color: var(--black-black-40);
  text-align: left;
  min-width: 8.63rem;
}
.iconarrow4 {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  min-height: 1.5rem;
}
.bttninput1,
.subscribe-form {
  display: flex;
  justify-content: flex-start;
}
.bttninput1 {
  width: 19rem;
  border-radius: var(--br-3xs);
  box-shadow: var(--blur-glass);
  backdrop-filter: blur(40px);
  border: 1px solid var(--gradient-main);
  box-sizing: border-box;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-base) var(--padding-2xl) var(--padding-base)
    var(--padding-lgi);
  gap: var(--gap-3xs);
}
.subscribe-form {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-13xl);
}
.gpd-holdings-llc {
  position: relative;
  font-size: 0.75rem;
  line-height: 150%;
}
.block-1 {
  width: 23.75rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  max-width: 100%;
  z-index: 1;
}
.company {
  position: relative;
  line-height: 100%;
  font-weight: 600;
  z-index: 1;
}
.about1,
.careers,
.merch,
.news,
.press {
  position: relative;
  line-height: 150%;
  z-index: 1;
}
.company-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0.69rem 0 0;
  gap: var(--gap-5xl);
}
.privacy-policy-and {
  position: relative;
  line-height: 100%;
  font-weight: 600;
}
.coinflip-biometrics-privacy,
.coinflip-financial-privacy,
.coinflip-privacy-policy,
.coinflip-terms-of,
.coinflip-trade-desk {
  position: relative;
  line-height: 150%;
}
.privacy-policy-and-terms-of-se-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.block-1-parent,
.company-and-policies-frame {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.block-1-parent {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.company-and-policies-frame {
  width: 76.25rem;
  justify-content: flex-start;
  padding: 0 3.19rem 0 var(--padding-xl);
  box-sizing: border-box;
  flex-shrink: 0;
}
.footer,
.infoblock-frame1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.footer {
  align-self: stretch;
  background-color: rgba(11, 11, 15, 0.2);
  backdrop-filter: blur(10px);
  align-items: center;
  padding: var(--padding-12xs) 0 9.5rem;
  box-sizing: border-box;
  position: relative;
  gap: var(--gap-80xl);
  max-width: 100%;
  margin-top: -5.25rem;
  text-align: left;
  font-size: var(--body-14-size);
  color: var(--color-gray-100);
  font-family: var(--body-14);
}
.infoblock-frame1 {
  width: 90rem;
  align-items: flex-start;
  max-width: 105%;
  flex-shrink: 0;
}
.bttninput-frame,
.button-input-frame {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}
.bttninput-frame {
  width: 85.69rem;
  justify-content: flex-start;
}
.button-input-frame {
  justify-content: flex-end;
  text-align: center;
  font-size: var(--h2-50-size);
  color: var(--black-black-100);
  font-family: var(--body-14);
}
.landing-page {
  width: 100%;
  position: relative;
  background-color: var(--black-black-5);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0 0 var(--padding-12xs);
  box-sizing: border-box;
  gap: var(--gap-101xl);
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .frame-empty {
    gap: var(--gap-50xl);
  }
  .privacy-policy-link {
    padding-bottom: 12.13rem;
    box-sizing: border-box;
  }
  .infoblock-frame {
    gap: var(--gap-201xl);
  }
  .background-frame {
    padding-right: var(--padding-5xl);
    padding-bottom: var(--padding-15xl);
    box-sizing: border-box;
  }
  .company-and-policies-frame {
    padding-right: 1.56rem;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .we-make-digital {
    font-size: 2.63rem;
    line-height: 4.13rem;
  }
  .frame-empty {
    padding-bottom: 3.31rem;
    box-sizing: border-box;
  }
  .create,
  .login,
  .manage {
    font-size: var(--font-size-7xl);
    line-height: 2.06rem;
  }
  .circles-frame {
    justify-content: center;
    grid-template-columns: repeat(2, minmax(285px, 494px));
  }
  .access-to-full,
  .lorem {
    font-size: var(--font-size-21xl);
    line-height: 3.25rem;
  }
  .company-logo-frame {
    gap: var(--gap-239xl);
  }
  .receive-transmissions,
  .take-your-first-container {
    font-size: var(--font-size-21xl);
    line-height: 3.25rem;
  }
  .block-1-parent {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 750px) {
  .about-features-support {
    display: none;
  }
  .framebgimg {
    width: 49.63rem;
  }
  .login-manage {
    padding-top: var(--padding-59xl);
    box-sizing: border-box;
  }
  .frame-empty {
    gap: var(--gap-50xl);
  }
  .circles-frame {
    grid-template-columns: minmax(285px, 1fr);
  }
  .text-frame-parent {
    gap: var(--gap-13xl);
  }
  .company-logo-frame {
    gap: var(--gap-239xl);
  }
  .privacy-policy-link {
    padding-bottom: 7.88rem;
    box-sizing: border-box;
  }
  .receive-transmission {
    gap: var(--gap-13xl);
  }
  .infoblock-frame {
    gap: var(--gap-201xl);
  }
  .background-frame,
  .footer {
    padding-bottom: 1.38rem;
    box-sizing: border-box;
  }
  .footer {
    gap: var(--gap-80xl);
    padding-bottom: 6.19rem;
  }
  .landing-page {
    gap: var(--gap-101xl);
  }
}
@media screen and (max-width: 450px) {
  .about-features-support {
    gap: var(--gap-15xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .we-make-digital {
    font-size: 1.56rem;
    line-height: 2.75rem;
  }
  .login-manage-text {
    gap: var(--gap-13xl);
  }
  .frame-empty {
    padding-bottom: var(--padding-15xl);
    box-sizing: border-box;
  }
  .create,
  .login {
    font-size: var(--font-size-lgi);
    line-height: 1.56rem;
  }
  .info-block1 {
    gap: var(--gap-13xl);
  }
  .manage {
    font-size: var(--font-size-lgi);
    line-height: 1.56rem;
  }
  .info-block2 {
    gap: var(--gap-13xl);
  }
  .lorem {
    font-size: var(--font-size-11xl);
    line-height: 2.44rem;
  }
  .bg-frame {
    gap: var(--gap-13xl);
  }
  .access-to-full,
  .take-your-first-container {
    font-size: var(--font-size-11xl);
    line-height: 2.44rem;
  }
  .infoblock-frame {
    gap: var(--gap-201xl);
  }
  .receive-transmissions {
    font-size: var(--font-size-11xl);
    line-height: 2.44rem;
  }
  .receive-area {
    padding-top: 4.69rem;
    padding-bottom: var(--padding-59xl);
    box-sizing: border-box;
  }
  .receive-area,
  .subscribe-form {
    gap: var(--gap-13xl);
  }
  .footer {
    gap: var(--gap-80xl);
  }
  .landing-page {
    gap: var(--gap-101xl);
  }
}
