body{

    font-family: 'Inter', sans-serif;

    .font-weight-600{
        font-weight: 600;
    }

    .font-weight-900{
        font-weight: 900;
    }

    nav
    {
        margin-bottom: -5rem;
    }

    .text-white {
        color: white;
    }

    .text-lgray {
        color: rgb(182, 177, 177);
    }


    footer
    {
        margin-top: 205rem;
    }


    //Heading Settigns
    h1
    {
        font-family: 'Inter', sans-serif;
        color: rgb(233, 233, 207);
    }



    .slide-section, .cta-section
    {
        // background-repeat: no-repeat;
        background-size: cover;
        height: 265.1875rem;
    }
}
